body {
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-color: #26263a;
}

h1 {
	border-bottom: 1px solid #c5c5c5;
}

.top_bar {
	display: block;
	width: 100%;
	height: 50px;
	background-color: #0d0d0d;
	color: #ccc;
}

.top_bar a{
	float: left;
	text-decoration: none;
	color: #ccc;
	font-weight: bold;
	padding-top: 15px;
}

.home_button {
	margin-left: 160px;
}

.login_wrapper {
	display: block;
	width: 320px;
	margin-right: 160px;
	float: right;
	position: relative;
}

.login_wrapper a:nth-child(2) {
	float: right;
}

.container {
	width: 90%;
	height: 1200px;
	margin: auto;
	margin-top: 100px;
	position: relative;
	background-color: #fff;
}

.containerpage {
	width: 100%;
	margin: 0;
	padding: 0;
}

.column_menu {
	width: 60%;
	margin: auto;
	padding: 50px 0px;
}

.search_shares_line {
	width: 100%;
	margin: auto;
}

.search_select {
	width: 155px;
}

.pagination {
	margin: 0;
}

.table_header {
	padding-bottom: 10px;
}

.table_header p {
	margin-top: 10px;
	display: inline;
}

.table_header ul {
	float: right;
}

.table_header li {
	display: inline-block;
}

.buy_button {
	padding: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #3b5998;
	border-style: none;
}

.modal-content {
	border-radius: 0;
	border: 2px solid #b2b2b2;
}

.modal-header {
	padding: 0;
	background-color: #e9e9e9;
	border-bottom: 1px solid #b2b2b2;
}

.modal-title {
	padding: 8px;
	font-size: 18px;
}

.close {
	width: 42px;
	height: 34px;
	font-size: 40px;
}

.modal-body {
	height: 150px;
	padding: 0;
}

.modal-left {
	padding-top: 8px;
	width: 50%;
	height: 100%;
	border-right: 1px solid #b2b2b2;
	float: left;
}

.line_div {
	margin-bottom: 8px;
}

.left_span {
	padding-left: 5px;
}

.right_span {
	padding-right: 5px;
	float: right;
	font-weight: bold;
}

.modal-right {
	width: 50%;
	height: 100%;
	float: left;
	padding-left: 50px;
}

#tab_box_title {
	position: relative;
	height: 30px;
	background-color: #85a4c0;
	border: 1px solid #51718a;
	border-bottom: 0;
}

#tab_box_search {
	padding: 10px;
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	min-height: 120px;
	background-color: #efefef;
	border: 1px solid #51718a;
	border-top: 0;
}

#shares_table {	
	width: 100%;
	position: relative;
}

#shares_table th {
	text-align: center;
	margin-bottom: 10px;
	background-color: #85a4c0;
}

#shares_table td {
	padding: 2px;
}

#shares_table td:not(:last-child) {
	border-right: 1px solid #c5c5c5;
}