<!doctype html>
<html ng-app="app">
	<head>
		<title>Restful Profit</title>
		<script src="/resources/js/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/resources/js/bootstrap.min.js"></script>
		<script src="/resources/js/dirPagination.js"></script>
		<script src="/resources/js/index.js"></script>
		<script src="/resources/js/validator.js"></script>
		<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
		<link rel="stylesheet" href="/resources/css/main.css">
		<link rel="stylesheet" href="/resources/css/form.css">
	</head>
	<body ng-controller="mainController">
		<div class="container">
			<a href="/"><img src="/resources/Restful.png" width="200" height="100" style="float:right"></a>
			<div class="containerpage" ng-controller="registerPageController">
				<div class="form_div">
					<form class="css_form" data-toggle="validator" role="form" ng-submit="register(register_form)" method="POST" name="register_form">
						<div class="form-group">
					        <label for="email">E-mail:</label>
					        <input class="form-control" type="email" id="email" name="email" ng-model="email" data-error="That email address is invalid" required/>
					        <div class="help-block with-errors"></div>
					    </div>
					    <div class="form-group" id="username_div">
					        <label for="username">Username:</label>
					        <input class="form-control" type="text" id="username" name="username" ng-model="username" data-minlength="5" data-minlength="30" required/>
					        <div class="help-block">Login must be between 5 and 30 characters long.</div>
					        <div class="login_error" ng-show="error" style="padding-top:0px;">Your login is taken. Sorry.</div>
					    </div>
					    <div class="form-group">
					        <label for="password">Password:</label>
					        <input class="form-control" type="password" id="password" name="password" ng-model="password" data-minlength="5" required/>
					        <div class="help-block">Minimum of 5 characters</div>
					    </div>
					    <div class="form-group">
					        <label for="_password">Repeat password:</label>
					        <input class="form-control" type="password" id="_password" name="_password" ng-model="_password" data-match="#password" data-match-error="Whoops, these don't match" required/>
					         <div class="help-block with-errors"></div>
					    </div>
					    <div class="form-group">
					        <label for="captcha">We don't have any rules of use but you must check this box anyway.</label>
					        <input class="form-control" type="checkbox" id="captcha" name="captcha" ng-model="captcha" ng-value="true" required />
					    </div>
					    <div class="form_button">
					    	<button type="submit">Submit</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>